<h2>Lista de eventos</h2>
<table>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Lugar</th>
    <th>Fecha</th>
    <th>Acciones</th>
  </tr>
  <tr *ngFor="let evento of eventos">
    <td>{{ evento.id }}</td>
    <td>{{ evento.nombre }}</td>
    <td>{{ evento.lugar }}</td>
    <td>{{ evento.fecha }}</td>
    <td>
          <a [routerLink]="['/editar-evento', evento.id]">Editar</a>
          <a [routerLink]="['/evento', evento.id]">Ver</a>
          <button (click)="eliminarEvento(evento.id)">Eliminar</button>
    </td>
  </tr>
</table>
