<div class="container mt-5">
  <h2>Eventos</h2>
  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let evento of eventos">
      <div class="card">
        <img src="assets/images/evento.jpg" class="card-img-top">
        <div class="card-body">
          <h5 class="card-title">{{evento.nombre}}</h5>
          <p>{{evento.fecha}} - {{evento.estilo}}</p>
          <a [routerLink]="['/evento', evento.id]" class="btn btn-info">Ver Detalle</a>
        </div>
      </div>
    </div>
  </div>
</div>